body {
	background-color: #f8d411;
	background-color: #ffdb40;
	/*non-safari background: #FBD54B; */
	color: #404040;
}

::selection {
    color: #202020;
    background-color: white;
}

::-moz-selection {
    color: #202020;
    background-color: white;
}

.emphasis {
	color: white;
}

.emphasis::selection {
	color:  rgb(254, 60, 10);
}

.emphasis::-moz-selection {
	color:  rgb(254, 60, 10);
}

section + section, main a, .page-title {
	border-color: white;
}

a:hover {
	color: white;
}

a {
	color: #404040;
}

.logo {
	color: #f8d411;
	color: #ffdb40;
	background-color: #404040;

	background-image: url(../img/under-construction-yellow.png);
	background-size: 1200px;
	background-position: center;
}

.logo:hover {
	color: rgb(254, 60, 10);
	color: white;
}

.logo h1 {
    background-image: url(../img/under-construction-yellow.png);
	background-size: 1200px;
	background-position: center;
}

.current-page {
	color: white;
}

article + article {
	border-top-color: white
}