.device {
	display: block;
	position: relative;
	border: solid white;
	border-width: 63px 7px 49px 7px;
	border-radius: 10px;

	/* Angle Effect */
	transform: rotateX(50deg) rotateY(0deg) rotateZ(-50deg);
	box-shadow: -3px 3px 0 #ccc, -6px 6px 0 #ccc, -9px 9px 0 #ccc, -12px 12px 0 #ccc, -14px 10px 20px #666;
	
}

.mobile.device {
	width: 320px;
	height: 640px;
}

.desktop.device {
	width: 100%;
	height: 650px;
	border-bottom-width: 7px;
}

.device button{
	display: none;
	position: absolute;
	top: -29px;
	right: 50%;
	transform: translateX(50%);
	width: 80px;
	height: 5px;
	background: #CCC;

	border: none;
	border-radius: 100%;
	font-size: 8pt;
	font-weight: 900;
	color: transparent;
	padding: 0;
}

.device iframe{
	width: 100%;
	height: 100%;
	border: none;
	background-color: white;
}
